openapi: 3.0.3
info:
  title: Pinwheel
  description: Pinwheel is the API for direct deposit switching, bill switching, and
    income & employment verification.
  version: v2025-07-08
  contact:
    name: Support
    email: support@getpinwheel.com
    url: https://getpinwheel.com
servers:
- url: https://api.getpinwheel.com/v1
  description: production
- url: https://sandbox.getpinwheel.com/v1
  description: sandbox
- url: https://development.getpinwheel.com/v1
  description: development
paths:
  /link_tokens:
    post:
      tags:
      - Link Tokens
      summary: Create Link Token
      description: Create a token used to launch a Link modal.
      operationId: post_v1_link_tokens_post
      parameters:
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkTokenCreate_v2025_07_08'
            examples:
              example:
                value:
                  org_name: Fintech.io
                  solution: Deposit Switch
                  features:
                  - direct_deposit_switch
                  end_user_id: my_user_12345
                  allocation:
                    type: amount
                    value: 123.45
                    targets:
                    - name: My Checking Account
                      type: checking
                      account_number: '5675249802'
                      routing_number: '193487629'
                    - name: My Savings Account
                      type: savings
                      account_number: '6675249802'
                      routing_number: '193487629'
                  employer_id: e3c3ec9e-eea5-42fc-b533-de3cea9c352f
                  end_user:
                    platform_matching:
                      social_security_number: '123456789'
                      first_name: Alicia
                      last_name: Green
                      mobile_phone_number: '1234567890'
                      home_address_zip_code: '12345'
                      date_of_birth: '2023-11-22'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/LinkTokenObjResponse_v2021_07_28'
                type: object
                required:
                - data
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                      id: bd2c09e7-1303-46d5-87c0-0ffa572d7ae4
                      token: eyJhbGciOiJIUz....pZ-qZZPO-mA06Dzu-nfUdurwaTUA
                      expires: '2021-01-09T02:52:26+00:00'
                      mode: production
  /jobs:
    get:
      tags:
      - Jobs
      summary: List Completed Jobs
      description: List all completed jobs which were initiated by Link (i.e., excluding
        refresh jobs for monitoring). This is a paginated endpoint; see how Pinwheel
        implements pagination <a href='https://docs.pinwheelapi.com/docs/pagination-1'
        target='_blank'>here</a>.
      operationId: get_jobs_v1_jobs_get
      parameters:
      - description: UUID of the link token triggering the job.
        required: false
        schema:
          type: string
          format: uuid
          description: UUID of the link token triggering the job.
        name: link_token_id
        in: query
      - description: UUID of the payroll account.
        required: false
        schema:
          type: string
          format: uuid
          description: UUID of the payroll account.
        name: account_id
        in: query
      - description: List of job types. May be expanded to include new enum values
          (see our Change Management policy).
        required: false
        schema:
          items:
            type: string
            enum:
            - direct_deposit_allocations
            - bill_cancellation
            - direct_deposit_switch
            - paycheck_viewer
            - paystubs
            - bill_switch
            - identity
            - direct_deposit_payment
            - income
            - employment
            - tax_forms
            - shifts
          type: array
          description: List of job types. May be expanded to include new enum values
            (see our Change Management policy).
        name: job_types
        in: query
      - description: The outcome of the job.
        required: false
        schema:
          allOf:
          - type: string
            enum:
            - success
            - pending
            - error
          description: The outcome of the job.
        name: outcome
        in: query
      - description: The maximum number of results to return.
        required: false
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results to return.
          default: 25
        name: limit
        in: query
      - description: Cursor for the page you want to retrieve.
        required: false
        schema:
          type: string
          description: Cursor for the page you want to retrieve.
        name: cursor
        in: query
      - description: Return results after this ISO 8601 timestamp.
        required: false
        schema:
          type: string
          format: date-time
          description: Return results after this ISO 8601 timestamp.
        name: from_timestamp
        in: query
      - description: Return results to this ISO 8601 timestamp.
        required: false
        schema:
          type: string
          format: date-time
          description: Return results to this ISO 8601 timestamp.
        name: to_timestamp
        in: query
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
                  data:
                    items:
                      $ref: '#/components/schemas/JobObjResponse_v2023_11_22'
                    type: array
                    title: Data
                type: object
                required:
                - meta
                - data
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                    - id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                      account_id: 449e7a5c-69d3-4b8a-aaaf-5c9b713ebc65
                      platform_id: fce3eee0-285b-496f-9b36-30e976194736
                      platform_name: ADP
                      link_token_id: 4787acbc-11cf-4db3-998c-5ea7c4feebcd
                      name: direct_deposit_switch
                      timestamp: '2021-01-12T02:36:01.287148+00:00'
                      outcome: success
                      params:
                        action: partial_switch
                        allocation:
                          type: amount
                          value: 50
                          target:
                            account_name: My Checking Account
                            account_type: checking
                    meta:
                      count: 1
                      next_cursor: eyJuYW1lIjogImFtYXpvbiJ9
  /employers:
    get:
      tags:
      - Employers and Platforms
      summary: List Employers
      description: List all employers supported by Link. This is a paginated endpoint;
        see how Pinwheel implements pagination <a href='https://docs.pinwheelapi.com/docs/pagination-1'
        target='_blank'>here</a>.
      operationId: get_v1_employers_get
      parameters:
      - description: Cursor for the page you want to retrieve.
        required: false
        schema:
          type: string
          description: Cursor for the page you want to retrieve.
        name: cursor
        in: query
      - description: The maximum number of results to return.
        required: false
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results to return.
          default: 25
        name: limit
        in: query
      - description: Filter for results updated more recently than `last_updated`.
          ISO 8601 timestamp.
        required: false
        schema:
          type: string
          format: date-time
          description: Filter for results updated more recently than `last_updated`.
            ISO 8601 timestamp.
        name: last_updated
        in: query
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
                  data:
                    items:
                      $ref: '#/components/schemas/EmployerObjResponse'
                    type: array
                    title: Data
                type: object
                required:
                - meta
                - data
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                    - id: 13a9ee8c-815d-451b-b2d0-496731ec29d3
                      name: Acme Corporation
                      last_updated: '2020-11-06T15:59:13.530178+00:00'
                      logo_url: https://cdn.getpinwheel.com/acme.svg
                      supported_jobs:
                      - direct_deposit_switch
                      fractional_amount_supported: false
                      amount_supported: true
                      min_amount: 1.0
                      max_amount: 9999.0
                      percentage_supported: true
                      min_percentage: 1
                      max_percentage: 99
                    meta:
                      count: 1
                      next_cursor: eyJuYW1lIjogImFtYXpvbiJ9
  /employers/lookup:
    get:
      tags:
      - Employers and Platforms
      summary: Look up Employer
      description: Look up an employer by criteria such as EIN. Returns the full employer
        object.
      operationId: get_employers_lookup_v1_employers_lookup_get
      parameters:
      - description: Employer Identification Number (exactly 9 digits).
        required: false
        schema:
          type: string
          description: Employer Identification Number (exactly 9 digits).
        name: ein
        in: query
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/EmployerObjResponse'
                type: object
                required:
                - data
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                      id: 13a9ee8c-815d-451b-b2d0-496731ec29d3
                      name: Acme Corporation
                      last_updated: '2020-11-06T15:59:13.530178+00:00'
                      logo_url: https://cdn.getpinwheel.com/acme.svg
                      supported_jobs:
                      - direct_deposit_switch
                      fractional_amount_supported: false
                      amount_supported: true
                      min_amount: 1.0
                      max_amount: 9999.0
                      percentage_supported: true
                      min_percentage: 1
                      max_percentage: 99
  /employers/{employer_id}:
    get:
      tags:
      - Employers and Platforms
      summary: Get Employer
      description: Get an Employer given the employer ID.
      operationId: get_employer_v1_employers__employer_id__get
      parameters:
      - description: UUID of the employer.
        required: true
        schema:
          type: string
          format: uuid
          description: UUID of the employer.
        name: employer_id
        in: path
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/EmployerObjResponse'
                type: object
                required:
                - data
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                      id: 13a9ee8c-815d-451b-b2d0-496731ec29d3
                      name: Acme Corporation
                      last_updated: '2020-11-06T15:59:13.530178+00:00'
                      logo_url: https://cdn.getpinwheel.com/acme.svg
                      supported_jobs:
                      - direct_deposit_switch
                      fractional_amount_supported: false
                      amount_supported: true
                      min_amount: 1.0
                      max_amount: 9999.0
                      percentage_supported: true
                      min_percentage: 1
                      max_percentage: 99
  /webhooks:
    get:
      tags:
      - Webhooks
      summary: List Webhooks
      description: List all webhooks. This is a paginated endpoint; see how Pinwheel
        implements pagination <a href='https://docs.pinwheelapi.com/docs/pagination-1'
        target='_blank'>here</a>.
      operationId: get_v1_webhooks_get
      parameters:
      - description: Cursor for the page you want to retrieve.
        required: false
        schema:
          type: string
          description: Cursor for the page you want to retrieve.
        name: cursor
        in: query
      - description: The maximum number of results to return.
        required: false
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results to return.
          default: 25
        name: limit
        in: query
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
                  data:
                    items:
                      $ref: '#/components/schemas/WebhookObjResponse'
                    type: array
                    title: Data
                type: object
                required:
                - meta
                - data
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                    - url: https://example.com/webhook_endpoint
                      id: ae0047bf-cd48-4f41-9fa2-2e578ca82969
                      created_at: '2020-11-06T15:59:13.530178+00:00'
                      last_updated: '2020-11-06T16:00:00.530178+00:00'
                      enabled_events:
                      - income.added
                      - employment.added
                      status: active
                      version: '2023-04-18'
                    meta:
                      count: 1
                      next_cursor: eyJpZCI6ICIwMzIwYzczYS02NWYyLTRkMDktOTMxNC1jZTAyMzFiZjYwZDYifQ==
    post:
      tags:
      - Webhooks
      summary: Create Webhook
      description: Create a webhook to use for callbacks from Pinwheel jobs.
      operationId: post_v1_webhooks_post
      parameters:
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreate_v2023_04_18'
            examples:
              example:
                value:
                  url: https://example.com/webhook_endpoint
                  enabled_events:
                  - income.added
                  - employment.added
                  status: active
                  version: '2023-04-18'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/WebhookObjResponse'
                type: object
                required:
                - data
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                      url: https://example.com/webhook_endpoint
                      id: ae0047bf-cd48-4f41-9fa2-2e578ca82969
                      created_at: '2020-11-06T15:59:13.530178+00:00'
                      last_updated: '2020-11-06T16:00:00.530178+00:00'
                      enabled_events:
                      - income.added
                      - employment.added
                      status: active
                      version: '2023-04-18'
  /webhooks/{webhook_id}:
    get:
      tags:
      - Webhooks
      summary: Get Webhook
      description: Get webhook by id.
      operationId: get_webhook_by_id_v1_webhooks__webhook_id__get
      parameters:
      - description: UUID of the webhook.
        required: true
        schema:
          type: string
          format: uuid
          description: UUID of the webhook.
        name: webhook_id
        in: path
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/WebhookObjResponse'
                type: object
                required:
                - data
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                      url: https://example.com/webhook_endpoint
                      id: ae0047bf-cd48-4f41-9fa2-2e578ca82969
                      created_at: '2020-11-06T15:59:13.530178+00:00'
                      last_updated: '2020-11-06T16:00:00.530178+00:00'
                      enabled_events:
                      - income.added
                      - employment.added
                      status: active
                      version: '2023-04-18'
    put:
      tags:
      - Webhooks
      summary: Update Webhook
      description: Update webhook.
      operationId: put_v1_webhooks__webhook_id__put
      parameters:
      - description: UUID of the webhook.
        required: true
        schema:
          type: string
          format: uuid
          description: UUID of the webhook.
        name: webhook_id
        in: path
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdate'
            examples:
              example:
                value:
                  url: https://example.com/new_webhook_endpoint
                  enabled_events:
                  - income.added
                  - employment.added
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/WebhookObjResponse'
                type: object
                required:
                - data
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                      url: https://example.com/webhook_endpoint
                      id: ae0047bf-cd48-4f41-9fa2-2e578ca82969
                      created_at: '2020-11-06T15:59:13.530178+00:00'
                      last_updated: '2020-11-06T16:00:00.530178+00:00'
                      enabled_events:
                      - income.added
                      - employment.added
                      status: active
                      version: '2023-04-18'
    delete:
      tags:
      - Webhooks
      summary: Delete Webhook
      description: Delete a webhook.
      operationId: delete_v1_webhooks__webhook_id__delete
      parameters:
      - description: UUID of the webhook.
        required: true
        schema:
          type: string
          format: uuid
          description: UUID of the webhook.
        name: webhook_id
        in: path
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
              examples:
                example:
                  value: {}
  /platforms/{platform_id}:
    get:
      tags:
      - Employers and Platforms
      summary: Get Platform
      description: Get a payroll platform supported by Link.
      operationId: get_platform_v1_platforms__platform_id__get
      parameters:
      - description: UUID of the platform.
        required: true
        schema:
          type: string
          format: uuid
          description: UUID of the platform.
        name: platform_id
        in: path
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/PlatformObjResponse'
                type: object
                required:
                - data
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                      id: fce3eee0-285b-496f-9b36-30e976194736
                      name: Acme Payroll
                      type: payroll
                      last_updated: '2020-11-06T15:59:13.530178+00:00'
                      logo_url: https://cdn.getpinwheel.com/acme.svg
                      supported_jobs:
                      - direct_deposit_switch
                      amount_supported: true
                      fractional_amount_supported: false
                      min_amount: 1.0
                      max_amount: 9999.0
                      percentage_supported: true
                      min_percentage: 1
                      max_percentage: 99
                      merchant_category: video_streaming
  /platforms:
    get:
      tags:
      - Employers and Platforms
      summary: List Platforms
      description: List all payroll platforms supported by Link. This is a paginated
        endpoint; see how Pinwheel implements pagination <a href='https://docs.pinwheelapi.com/docs/pagination-1'
        target='_blank'>here</a>.
      operationId: list_platforms_v1_platforms_get
      parameters:
      - description: ESP (employer-specific platform) is a term that is used to describe
          an Employer that uses a unique, dedicated payroll portal to serve their
          employees. Eg. - Walmart employees will authenticate via a Walmart payroll
          portal, whereas employees at Hilton will authenticate via ADP. ESPs can
          be thought of as both employers and platforms, so you can use this flag
          to include ESPs in the set of supported payroll platforms if desired.
        required: false
        schema:
          type: boolean
          description: ESP (employer-specific platform) is a term that is used to
            describe an Employer that uses a unique, dedicated payroll portal to serve
            their employees. Eg. - Walmart employees will authenticate via a Walmart
            payroll portal, whereas employees at Hilton will authenticate via ADP.
            ESPs can be thought of as both employers and platforms, so you can use
            this flag to include ESPs in the set of supported payroll platforms if
            desired.
          default: false
        name: include_esps
        in: query
      - description: The type of the platform. `payroll` platforms are used for direct-deposit
          switching and for Verify use cases. `time_and_attendance` platforms contain
          data around shifts and hours. `tax` platforms are used for tax solutions.
          `merchant` type platforms are used for bill switching and cancellation.
        required: false
        schema:
          allOf:
          - type: string
            enum:
            - payroll
            - time_and_attendance
            - tax
            - merchant
          description: The type of the platform. `payroll` platforms are used for
            direct-deposit switching and for Verify use cases. `time_and_attendance`
            platforms contain data around shifts and hours. `tax` platforms are used
            for tax solutions. `merchant` type platforms are used for bill switching
            and cancellation.
        name: type
        in: query
      - description: Cursor for the page you want to retrieve.
        required: false
        schema:
          type: string
          description: Cursor for the page you want to retrieve.
        name: cursor
        in: query
      - description: The maximum number of results to return.
        required: false
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results to return.
          default: 25
        name: limit
        in: query
      - description: Filter for results updated more recently than `last_updated`.
          ISO 8601 timestamp.
        required: false
        schema:
          type: string
          format: date-time
          description: Filter for results updated more recently than `last_updated`.
            ISO 8601 timestamp.
        name: last_updated
        in: query
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
                  data:
                    items:
                      $ref: '#/components/schemas/PlatformObjResponse'
                    type: array
                    title: Data
                type: object
                required:
                - meta
                - data
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                    - id: fce3eee0-285b-496f-9b36-30e976194736
                      name: Acme Payroll
                      type: payroll
                      last_updated: '2020-11-06T15:59:13.530178+00:00'
                      logo_url: https://cdn.getpinwheel.com/acme.svg
                      supported_jobs:
                      - direct_deposit_switch
                      amount_supported: true
                      fractional_amount_supported: false
                      min_amount: 1.0
                      max_amount: 9999.0
                      percentage_supported: true
                      min_percentage: 1
                      max_percentage: 99
                      merchant_category: video_streaming
                    meta:
                      count: 1
                      next_cursor: eyJuYW1lIjogImFtYXpvbiJ9
  /search:
    get:
      tags:
      - Employers and Platforms
      summary: Search Employers and Platforms
      description: Search all employers and platforms supported by Link.
      operationId: get_v1_search_get
      parameters:
      - description: Search query on the employer/platform name.
        required: true
        schema:
          type: string
          minLength: 1
          description: Search query on the employer/platform name.
        name: q
        in: query
      - description: Filter on supported jobs. Multiple keys are allowed. May be expanded
          to include new enum values (see our Change Management policy).
        required: false
        schema:
          items:
            type: string
            enum:
            - direct_deposit_allocations
            - bill_cancellation
            - direct_deposit_switch
            - paycheck_viewer
            - paystubs
            - bill_switch
            - identity
            - direct_deposit_payment
            - income
            - employment
            - tax_forms
            - shifts
          type: array
          description: Filter on supported jobs. Multiple keys are allowed. May be
            expanded to include new enum values (see our Change Management policy).
        example:
        - direct_deposit_switch
        name: supported_jobs
        in: query
      - description: Filter on response type. Multiple keys are allowed. May be expanded
          to include new enum values (see our Change Management policy).
        required: false
        schema:
          items:
            type: string
            enum:
            - employer
            - platform
          type: array
          description: Filter on response type. Multiple keys are allowed. May be
            expanded to include new enum values (see our Change Management policy).
        example:
        - platform
        name: response_types
        in: query
      - description: Filter on amount_supported. If true, results that support setting
          a specific dollar amount for direct deposit switches will be returned. If
          false, results that support setting a specific dollar amount for direct
          deposit switches will be excluded.
        required: false
        schema:
          type: boolean
          description: Filter on amount_supported. If true, results that support setting
            a specific dollar amount for direct deposit switches will be returned.
            If false, results that support setting a specific dollar amount for direct
            deposit switches will be excluded.
        name: amount_supported
        in: query
      - description: The type of the platform. `payroll` platforms are used for direct-deposit
          switching and for Verify use cases. `time_and_attendance` platforms contain
          data around shifts and hours. `tax` platforms are used for tax solutions.
          `merchant` type platforms are used for bill switching and cancellation.
        required: false
        schema:
          allOf:
          - type: string
            enum:
            - payroll
            - time_and_attendance
            - tax
            - merchant
          description: The type of the platform. `payroll` platforms are used for
            direct-deposit switching and for Verify use cases. `time_and_attendance`
            platforms contain data around shifts and hours. `tax` platforms are used
            for tax solutions. `merchant` type platforms are used for bill switching
            and cancellation.
        name: platform_type
        in: query
      - description: The maximum number of results to return.
        required: false
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results to return.
          default: 25
        name: limit
        in: query
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta:
                    $ref: '#/components/schemas/ListMeta'
                  data:
                    items:
                      $ref: '#/components/schemas/SearchResultObjResponse'
                    type: array
                    title: Data
                type: object
                required:
                - meta
                - data
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                    - id: fce3eee0-285b-496f-9b36-30e976194736
                      name: Acme Payroll
                      platform_type: payroll
                      last_updated: '2020-11-06T15:59:13.530178+00:00'
                      logo_url: https://cdn.getpinwheel.com/acme.svg
                      supported_jobs:
                      - direct_deposit_switch
                      fractional_amount_supported: false
                      amount_supported: true
                      min_amount: 1.0
                      max_amount: 9999.0
                      response_type: platform
                      percentage_supported: true
                      min_percentage: 1
                      max_percentage: 99
                    - id: 13a9ee8c-815d-451b-b2d0-496731ec29d3
                      name: Acme Corporation
                      last_updated: '2020-11-06T15:59:13.530178+00:00'
                      logo_url: https://cdn.getpinwheel.com/acme.svg
                      supported_jobs:
                      - direct_deposit_switch
                      fractional_amount_supported: false
                      amount_supported: true
                      min_amount: 1.0
                      max_amount: 9999.0
                      response_type: employer
                      percentage_supported: false
                      min_percentage: 1
                      max_percentage: 99
                    meta:
                      count: 2
  /end_users/{end_user_id}/accounts:
    get:
      tags:
      - End Users
      summary: Get all end user accounts
      description: Get all payroll accounts associated with your end user ID. This
        is a paginated endpoint; see how Pinwheel implements pagination <a href='https://docs.pinwheelapi.com/docs/pagination-1'
        target='_blank'>here</a>.
      operationId: get_end_user_accounts_v1_end_users__end_user_id__accounts_get
      parameters:
      - description: User ID provided by you, to associate Pinwheel users with your
          user model.
        required: true
        schema:
          type: string
          description: User ID provided by you, to associate Pinwheel users with your
            user model.
        name: end_user_id
        in: path
      - description: Cursor for the page you want to retrieve.
        required: false
        schema:
          type: string
          description: Cursor for the page you want to retrieve.
        name: cursor
        in: query
      - description: The maximum number of results to return.
        required: false
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results to return.
          default: 25
        name: limit
        in: query
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
                  data:
                    items:
                      $ref: '#/components/schemas/PayrollAccountObjResponse'
                    type: array
                    title: Data
                type: object
                required:
                - meta
                - data
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                    - id: eb240ec6-a227-47ca-b7c7-fbbdfe7170a0
                      created_at: '2021-01-06T15:59:13.530178+00:00'
                      link_token_id: bd2c09e7-1303-46d5-87c0-0ffa572d7ae4
                      platform_id: fce3eee0-285b-496f-9b36-30e976194736
                      connected: true
                      monitoring_status: active
                      data_updated_at:
                        direct_deposit_allocations: '2021-01-08T00:00:00.000000+00:00'
                      data_refreshed_at:
                        direct_deposit_allocations: '2021-01-09T00:00:00.000000+00:00'
                      end_user_id: my_user_12345
                    meta:
                      count: 1
                      next_cursor: eyJuYW1lIjogImFtYXpvbiJ9
  /end_users/{end_user_id}/documents/{document_id}:
    get:
      tags:
      - End Users
      summary: Get Document
      description: Get a specific document for your end user ID.
      operationId: get_end_user_document_v1_end_users__end_user_id__documents__document_id__get
      parameters:
      - description: Unique identifier of the document object.
        required: true
        schema:
          type: string
          format: uuid
          description: Unique identifier of the document object.
        name: document_id
        in: path
      - description: User ID provided by you, to associate Pinwheel users with your
          user model.
        required: true
        schema:
          type: string
          description: User ID provided by you, to associate Pinwheel users with your
            user model.
        name: end_user_id
        in: path
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/EndUserDocumentObjResponse'
                type: object
                required:
                - data
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                      created_at: '2021-01-06T15:59:13.530178+00:00'
                      end_user_id: end-user-id
                      id: 07814454-9163-40b5-9aba-8a738fa7080c
                      document:
                        id: 07814454-9163-40b5-9aba-8a738fa7080c
                        download_url: https://amazonaws.com/s3/bucket/file.pdf
                        download_url_expiration: '2021-01-06T15:59:13.530178+00:00'
                      document_type: w2
                      parsed_data:
                        document_type: w2
                        applicant:
                          name: Jo Boren
                          ssn: '681123906'
                          address:
                            line1: 8717 S 4th Ave
                            line2: null
                            city: Inglewood
                            state: CA
                            postal_code: '90305'
                            raw: 8717 S 4th Ave Inglewood CA 90305
                        employer_name: Informed, Inc.
                        total_wages: 6500100
                        state_wages: 6500100
                        social_security_wages: 5307787
                        medicare_wages: 6500100
                        federal_taxes: 1172215
                        state_taxes: 521660
                        social_security_taxes: 329083
                        medicare_taxes: 94251
                        tax_year: '2020'
                      warnings:
                      - field: parsed_data.box_11
                        status: unparsable
                        message: This field could not be parsed.
                      - field: parsed_data.box_13.third_party_sick_pay
                        status: unparsable
                        message: This field could not be parsed
                      fraud:
                        status: not_suspected
  /end_users/{end_user_id}/documents:
    get:
      tags:
      - End Users
      summary: List Documents
      description: Lists all documents associated with your end user ID. This is a
        paginated endpoint; see how Pinwheel implements pagination <a href='https://docs.pinwheelapi.com/docs/pagination-1'
        target='_blank'>here</a>.
      operationId: get_end_user_documents_v1_end_users__end_user_id__documents_get
      parameters:
      - description: User ID provided by you, to associate Pinwheel users with your
          user model.
        required: true
        schema:
          type: string
          description: User ID provided by you, to associate Pinwheel users with your
            user model.
        name: end_user_id
        in: path
      - description: The type of the document.
        required: false
        schema:
          allOf:
          - type: string
            enum:
            - direct_deposit_form
          description: The type of the document.
        name: type
        in: query
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
                  data:
                    items:
                      $ref: '#/components/schemas/EndUserDocumentObjResponse'
                    type: array
                    title: Data
                type: object
                required:
                - meta
                - data
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                    - created_at: '2021-01-06T15:59:13.530178+00:00'
                      end_user_id: end-user-id
                      id: 07814454-9163-40b5-9aba-8a738fa7080c
                      document:
                        id: 07814454-9163-40b5-9aba-8a738fa7080c
                        download_url: https://amazonaws.com/s3/bucket/file.pdf
                        download_url_expiration: '2021-01-06T15:59:13.530178+00:00'
                      document_type: w2
                      parsed_data:
                        document_type: w2
                        applicant:
                          name: Jo Boren
                          ssn: '681123906'
                          address:
                            line1: 8717 S 4th Ave
                            line2: null
                            city: Inglewood
                            state: CA
                            postal_code: '90305'
                            raw: 8717 S 4th Ave Inglewood CA 90305
                        employer_name: Informed, Inc.
                        total_wages: 6500100
                        state_wages: 6500100
                        social_security_wages: 5307787
                        medicare_wages: 6500100
                        federal_taxes: 1172215
                        state_taxes: 521660
                        social_security_taxes: 329083
                        medicare_taxes: 94251
                        tax_year: '2020'
                      warnings:
                      - field: parsed_data.box_11
                        status: unparsable
                        message: This field could not be parsed.
                      - field: parsed_data.box_13.third_party_sick_pay
                        status: unparsable
                        message: This field could not be parsed
                      fraud:
                        status: not_suspected
                    meta:
                      count: 1
                      next_cursor: eyJuYW1lIjogImFtYXpvbiJ9
  /end_users/{end_user_id}/bill_navigator/status:
    put:
      tags:
      - End Users
      summary: Update end user Bill Navigator status
      description: The Bill Navigator end user status API allows you to update the
        status of an end user's account.
      operationId: update_bill_navigator_user_status_v1_end_users__end_user_id__bill_navigator_status_put
      parameters:
      - description: User ID provided by you, to associate Pinwheel users with your
          user model.
        required: true
        schema:
          type: string
          description: User ID provided by you, to associate Pinwheel users with your
            user model.
        name: end_user_id
        in: path
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillNavigatorStatusUpdateRequest'
            examples:
              example:
                value:
                  action: deactivated
                  reason: User no longer wants to use bill navigator
        required: true
      responses:
        '204':
          description: No Content
  /end_users/{end_user_id}/earnings_stream/payouts:
    get:
      tags:
      - Earnings Stream
      summary: Get Earnings Stream Payouts
      description: Get an Earnings Stream of payout objects representing discrete
        cash flow events. This is a paginated endpoint; see how Pinwheel implements
        pagination <a href='https://docs.pinwheelapi.com/docs/pagination-1' target='_blank'>here</a>.
      operationId: get_earnings_stream_payouts_v1_end_users__end_user_id__earnings_stream_payouts_get
      parameters:
      - description: User ID provided by you, to associate Pinwheel users with your
          user model.
        required: true
        schema:
          type: string
          description: User ID provided by you, to associate Pinwheel users with your
            user model.
        name: end_user_id
        in: path
      - description: Cursor for the page you want to retrieve.
        required: false
        schema:
          type: string
          description: Cursor for the page you want to retrieve.
        name: cursor
        in: query
      - description: The maximum number of results to return.
        required: false
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results to return.
          default: 25
        name: limit
        in: query
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta:
                    $ref: '#/components/schemas/FreshnessPaginationListMeta'
                  data:
                    items:
                      $ref: '#/components/schemas/EarningsStreamPayoutObjResponse_v2023_04_18'
                    type: array
                    title: Data
                type: object
                required:
                - meta
                - data
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                    - status: estimated
                      pay_date: '2022-05-15'
                      earnings:
                      - date: '2022-05-05'
                        confidence_score: 0.5
                        net_pay:
                          amount: 10000
                          currency: USD
                      - date: '2022-05-04'
                        confidence_score: 0.5
                        net_pay:
                          amount: 5000
                          currency: USD
                      - date: '2022-05-03'
                        confidence_score: 0.7
                        net_pay:
                          amount: 7500
                          currency: USD
                      - date: '2022-05-02'
                        confidence_score: 0.7
                        net_pay:
                          amount: 5000
                          currency: USD
                      - date: '2022-05-01'
                        confidence_score: 0.7
                        net_pay:
                          amount: 10000
                          currency: USD
                    meta:
                      count: 1
                      next_cursor: eyJuYW1lIjogImFtYXpvbiJ9
  /end_users/{end_user_id}/verification_reports/voie:
    get:
      tags:
      - Verification Reports
      summary: Get Verification of Income and Employment Report
      description: Get a Verification of Income and Employment (VOIE) report associated
        with your end user ID.
      operationId: get_end_user_verification_reports_voie_v1_end_users__end_user_id__verification_reports_voie_get
      parameters:
      - description: User ID provided by you, to associate Pinwheel users with your
          user model.
        required: true
        schema:
          type: string
          description: User ID provided by you, to associate Pinwheel users with your
            user model.
        name: end_user_id
        in: path
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/VerificationReportsVOIEObjResponse'
                type: object
                required:
                - data
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                      id: aea8cc55-93fa-452d-8eac-b83c80b19a41
                      updated_at: '2021-01-06T15:59:13.530178+00:00'
                      refreshed_at: '2021-01-06T15:59:13.530178+00:00'
                      employee:
                        name:
                          first_name: Alicia
                          middle_name: ''
                          last_name: Green
                          full_name: Alicia Green
                        address:
                          city: Washington
                          country: US
                          line1: 1234 Home Road
                          line2: null
                          postal_code: '20017'
                          raw: 1234 Home Road, Washington, DC, 20017, USA
                          state: DC
                        last_four_ssn: 0090
                        date_of_birth: '1987-02-01'
                        phone_numbers:
                        - type: mobile
                          value: '+14155552671'
                      report_type: voie
                      employments:
                      - employer_name: Acme Corporation
                        employer_address:
                          city: Washington
                          country: US
                          line1: 1234 Main St
                          line2: Suite 3
                          postal_code: '20036'
                          raw: 1234 Main St, Suite 3, Washington, DC, 20036, USA
                          state: DC
                        start_date: '2020-06-01'
                        employment_duration_months: 23
                        employment_status: employed
                        employment_type: full time
                        termination_date: null
                        title: Engineer
                        most_recent_pay_date: '2021-01-05'
                        income:
                          pay_frequency: bi-weekly
                          compensation_unit: hourly
                          compensation_amount: 4000
                          currency: USD
                          annual_incomes:
                          - year: '2022'
                            gross_pay_ytd: 11000
                            net_pay_ytd: 9950
                            total_deductions_ytd: 64704
                            total_reimbursements_ytd: 7000
                            total_taxes_ytd: 94407
                            earnings_ytds:
                            - amount: 10000
                              category: salary
                            - amount: 1000
                              category: bonus
                          paystubs:
                          - id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                            account_id: 5c1952df-3a84-4f28-8318-58291452061f
                            gross_pay_amount: 480720
                            gross_pay_ytd: 6971151
                            net_pay_amount: 321609
                            net_pay_ytd: 4357992
                            pay_date: '2022-01-05'
                            pay_period_end: '2021-12-24'
                            pay_period_start: '2021-12-10'
                            earnings:
                            - amount: 380720
                              category: hourly
                              hours: 80.0
                              name: Regular
                              rate: 4759
                            - amount: 100000
                              category: bonus
                              hours: null
                              name: Bonus
                              rate: null
                            total_deductions: 64704
                            total_reimbursements: 7000
                            total_taxes: 94407
                            currency: USD
                            created_at: '2021-01-10T19:54:45.745660+00:00'
                            check_amount: 328609
                            employer_name: Acme Corporation
                            external_paystub_id: 821b7d1b-c115-470c-9411-be132f51c19d
                          - id: 497f6eca-6276-4993-bfeb-53cbbbda6f53
                            account_id: 5c1952df-3a84-4f28-8318-58291452061f
                            gross_pay_amount: 480720
                            gross_pay_ytd: 6490431
                            net_pay_amount: 321609
                            net_pay_ytd: 4036383
                            pay_date: '2021-12-22'
                            pay_period_end: '2021-12-09'
                            pay_period_start: '2021-11-26'
                            earnings:
                            - amount: 380720
                              category: hourly
                              hours: 80.0
                              name: Regular
                              rate: 4759
                            - amount: 100000
                              category: bonus
                              hours: null
                              name: Bonus
                              rate: null
                            total_deductions: 64704
                            total_reimbursements: 7000
                            total_taxes: 94407
                            currency: USD
                            created_at: '2021-01-10T19:54:45.745660+00:00'
                            check_amount: 328609
                            employer_name: Acme Corporation
                            external_paystub_id: 50df7fe0-b818-414f-84b9-b9f5bba06a09
                      document:
                        id: 353fb6fb-e704-4112-990a-30058efe2737
                        download_url: https://pinwheel-cdn.s3.amazonaws.com/assets/pdfs/voie_report.pdf
                        download_url_expiration: '2024-01-06T17:47:52.782334+00:00'
  /end_users/{end_user_id}/verification_reports/voe:
    get:
      tags:
      - Verification Reports
      summary: Get Verification of Employment Report
      description: Get a Verification of Employment (VOE) report associated with your
        end user ID.
      operationId: get_end_user_verification_reports_voe_v1_end_users__end_user_id__verification_reports_voe_get
      parameters:
      - description: User ID provided by you, to associate Pinwheel users with your
          user model.
        required: true
        schema:
          type: string
          description: User ID provided by you, to associate Pinwheel users with your
            user model.
        name: end_user_id
        in: path
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/VerificationReportsVOEObjResponse'
                type: object
                required:
                - data
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                      id: aea8cc55-93fa-452d-8eac-b83c80b19a41
                      updated_at: '2021-01-06T15:59:13.530178+00:00'
                      refreshed_at: '2021-01-06T15:59:13.530178+00:00'
                      employee:
                        name:
                          first_name: Alicia
                          middle_name: ''
                          last_name: Green
                          full_name: Alicia Green
                        address:
                          city: Washington
                          country: US
                          line1: 1234 Home Road
                          line2: null
                          postal_code: '20017'
                          raw: 1234 Home Road, Washington, DC, 20017, USA
                          state: DC
                        last_four_ssn: 0090
                        date_of_birth: '1987-02-01'
                        phone_numbers:
                        - type: mobile
                          value: '+14155552671'
                      report_type: voe
                      employments:
                      - employer_name: Acme Corporation
                        employer_address:
                          city: Washington
                          country: US
                          line1: 1234 Main St
                          line2: Suite 3
                          postal_code: '20036'
                          raw: 1234 Main St, Suite 3, Washington, DC, 20036, USA
                          state: DC
                        start_date: '2020-06-01'
                        employment_duration_months: 23
                        employment_status: employed
                        employment_type: full time
                        termination_date: null
                        title: Engineer
                        most_recent_pay_date: '2021-01-05'
                      document:
                        id: 15bbb566-fb4e-4835-9967-b308c164269e
                        download_url: https://pinwheel-cdn.s3.amazonaws.com/assets/pdfs/voe_report.pdf
                        download_url_expiration: '2024-01-06T17:47:52.782334+00:00'
  /accounts/{account_id}/direct_deposit_allocations:
    get:
      tags:
      - Direct Deposit Allocations
      summary: Get Direct Deposit Allocations
      description: The Direct Deposit Allocations endpoint returns the current direct
        deposit allocations configured for the specified account.
      operationId: get_direct_deposit_allocations_v1_accounts__account_id__direct_deposit_allocations_get
      parameters:
      - description: UUID of the payroll account.
        required: true
        schema:
          type: string
          format: uuid
          description: UUID of the payroll account.
        name: account_id
        in: path
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/DDAllocationObjResponse'
                  meta:
                    $ref: '#/components/schemas/RefreshableMeta'
                type: object
                required:
                - data
                - meta
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                      id: 07814454-9163-40b5-9aaa-8a738fa7080b
                      account_id: c0a343a6-4e33-49cf-9bfc-46f770709452
                      created_at: '2021-01-06T00:00:00.000000+00:00'
                      updated_at: '2021-01-12T00:00:00.000000+00:00'
                      allocations:
                      - account_name: My Checking Account
                        account_type: checking
                        allocation_type: amount
                        amount: 50000
                        bank_name: Chase
                        currency: USD
                        masked_account_number: '53'
                        percentage: null
                        priority: 1
                        routing_number: '540622601'
                      - account_name: BoA Savings
                        account_type: savings
                        allocation_type: amount
                        amount: 5000
                        bank_name: Bank of America
                        currency: USD
                        masked_account_number: '3953'
                        percentage: null
                        priority: 2
                        routing_number: '021000322'
                      - account_name: Neobank
                        account_type: checking
                        allocation_type: remainder
                        amount: null
                        bank_name: null
                        currency: USD
                        masked_account_number: '83'
                        percentage: null
                        priority: 3
                        routing_number: '434957982'
  /accounts/{account_id}/employment:
    get:
      tags:
      - Income and Employment
      summary: Get Employment
      description: Get the current employment information of the account owner.
      operationId: get_employment_v1_accounts__account_id__employment_get
      parameters:
      - description: UUID of the payroll account.
        required: true
        schema:
          type: string
          format: uuid
          description: UUID of the payroll account.
        name: account_id
        in: path
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/EmploymentObjResponse'
                  meta:
                    $ref: '#/components/schemas/RefreshableMeta'
                type: object
                required:
                - data
                - meta
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                      id: 9d3309c3-b1d5-47dd-a175-20acf291f419
                      account_id: eb240ec6-a227-47ca-b7c7-fbbdfe7170a0
                      created_at: '2021-01-06T15:59:13.530178+00:00'
                      updated_at: '2021-01-12T00:00:00.000000+00:00'
                      status: employed
                      start_date: '2020-06-01'
                      termination_date: null
                      employer_name: Acme Corporation
                      employer_address:
                        raw: 1234 Main St, Suite 3, Washington, DC, 20036, USA
                        line1: 1234 Main St
                        line2: Suite 3
                        city: Washington
                        state: DC
                        postal_code: '20036'
                        country: US
                      employer_phone_number:
                        value: '+14155552671'
                        type: mobile
                      title: Engineer
  /accounts/{account_id}/identity:
    get:
      tags:
      - Income and Employment
      summary: Get Identity
      description: Get the current identity information of the account owner.
      operationId: get_identity_v1_accounts__account_id__identity_get
      parameters:
      - description: UUID of the payroll account.
        required: true
        schema:
          type: string
          format: uuid
          description: UUID of the payroll account.
        name: account_id
        in: path
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/IdentityObjResponse'
                  meta:
                    $ref: '#/components/schemas/RefreshableMeta'
                type: object
                required:
                - data
                - meta
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                      id: ffec8d06-5d03-42b9-9f75-6c66cb6efed5
                      account_id: eb240ec6-a227-47ca-b7c7-fbbdfe7170a0
                      created_at: '2021-01-06T15:59:13.530178+00:00'
                      updated_at: '2021-01-12T00:00:00.000000+00:00'
                      full_name: Alicia Green
                      date_of_birth: '1987-02-01'
                      last_four_ssn: 0090
                      emails:
                      - alicia.green@email.com
                      address:
                        raw: 1234 Home Road, Washington, DC, 20017, USA
                        line1: 1234 Home Road
                        line2: null
                        city: Washington
                        state: DC
                        postal_code: '20017'
                        country: US
                      phone_numbers:
                      - value: '+14155552671'
                        type: mobile
                      - value: '+14155551234'
                        type: home
  /accounts/{account_id}/income:
    get:
      tags:
      - Income and Employment
      summary: Get Income
      description: Get the current income information of the account owner.
      operationId: get_income_v1_accounts__account_id__income_get
      parameters:
      - description: UUID of the payroll account.
        required: true
        schema:
          type: string
          format: uuid
          description: UUID of the payroll account.
        name: account_id
        in: path
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/IncomeObjResponse'
                  meta:
                    $ref: '#/components/schemas/RefreshableMeta'
                type: object
                required:
                - data
                - meta
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                      id: 6309e185-9c87-4384-aaae-767c7875775e
                      account_id: eb240ec6-a227-47ca-b7c7-fbbdfe7170a0
                      created_at: '2021-01-06T15:59:13.530178+00:00'
                      updated_at: '2021-01-12T00:00:00.000000+00:00'
                      compensation_amount: 400000
                      compensation_unit: monthly
                      currency: USD
                      pay_frequency: monthly
  /accounts:
    get:
      tags:
      - Accounts
      summary: List Accounts
      description: List all payroll accounts. This is a paginated endpoint; see how
        Pinwheel implements pagination <a href='https://docs.pinwheelapi.com/docs/pagination-1'
        target='_blank'>here</a>.
      operationId: list_accounts_v1_accounts_get
      parameters:
      - description: Cursor for the page you want to retrieve.
        required: false
        schema:
          type: string
          description: Cursor for the page you want to retrieve.
        name: cursor
        in: query
      - description: The maximum number of results to return.
        required: false
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results to return.
          default: 25
        name: limit
        in: query
      - description: If included, filter on connected accounts. If true, return only
          accounts that are connected. If false, return only accounts that are disconnected.
          Connected accounts are accounts for which you can retrieve new data manually
          using On Demand Updates or automatically via Monitoring.
        required: false
        schema:
          type: boolean
          description: If included, filter on connected accounts. If true, return
            only accounts that are connected. If false, return only accounts that
            are disconnected. Connected accounts are accounts for which you can retrieve
            new data manually using On Demand Updates or automatically via Monitoring.
        name: connected
        in: query
      - description: Monitoring status describes the the automated ability of Pinwheel
          to retrieve new account information.
        required: false
        schema:
          allOf:
          - type: string
            enum:
            - active
            - degraded
            - user_action_required
            - customer_disabled
            - unavailable
          description: Monitoring status describes the the automated ability of Pinwheel
            to retrieve new account information.
        name: monitoring_status
        in: query
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
                  data:
                    items:
                      $ref: '#/components/schemas/PayrollAccountObjResponse'
                    type: array
                    title: Data
                type: object
                required:
                - meta
                - data
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                    - id: eb240ec6-a227-47ca-b7c7-fbbdfe7170a0
                      created_at: '2021-01-06T15:59:13.530178+00:00'
                      link_token_id: bd2c09e7-1303-46d5-87c0-0ffa572d7ae4
                      platform_id: fce3eee0-285b-496f-9b36-30e976194736
                      connected: true
                      monitoring_status: active
                      data_updated_at:
                        direct_deposit_allocations: '2021-01-08T00:00:00.000000+00:00'
                      data_refreshed_at:
                        direct_deposit_allocations: '2021-01-09T00:00:00.000000+00:00'
                      end_user_id: my_user_12345
                    meta:
                      count: 1
                      next_cursor: eyJuYW1lIjogImFtYXpvbiJ9
  /accounts/{account_id}:
    get:
      tags:
      - Accounts
      summary: Get Account
      description: Get a single payroll account.
      operationId: get_account_v1_accounts__account_id__get
      parameters:
      - description: UUID of the payroll account.
        required: true
        schema:
          type: string
          format: uuid
          description: UUID of the payroll account.
        name: account_id
        in: path
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/PayrollAccountObjResponse'
                type: object
                required:
                - data
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                      id: eb240ec6-a227-47ca-b7c7-fbbdfe7170a0
                      created_at: '2021-01-06T15:59:13.530178+00:00'
                      link_token_id: bd2c09e7-1303-46d5-87c0-0ffa572d7ae4
                      platform_id: fce3eee0-285b-496f-9b36-30e976194736
                      connected: true
                      monitoring_status: active
                      data_updated_at:
                        direct_deposit_allocations: '2021-01-08T00:00:00.000000+00:00'
                      data_refreshed_at:
                        direct_deposit_allocations: '2021-01-09T00:00:00.000000+00:00'
                      end_user_id: my_user_12345
  /accounts/{account_id}/disable_monitoring:
    post:
      tags:
      - Accounts
      summary: Disable monitoring for account
      description: Disable monitoring for an account so that refresh jobs will no
        longer be scheduled to retrieve payroll data.
      operationId: disable_monitoring_v1_accounts__account_id__disable_monitoring_post
      parameters:
      - description: UUID of the payroll account.
        required: true
        schema:
          type: string
          format: uuid
          description: UUID of the payroll account.
        name: account_id
        in: path
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '204':
          description: No Content
  /accounts/{account_id}/disconnect:
    post:
      tags:
      - Accounts
      summary: Disconnect an account
      description: Disconnect an account. This is permanent and irreversible. Once
        complete, an account will no longer support Earnings Streams or Recurring
        Access, e.g., On Demand Updates will no longer work and Monitoring will no
        longer be performed. However, old data will remain accessible. As mentioned
        above, this excludes derived data products e.g. Earnings Stream.
      operationId: disconnect_v1_accounts__account_id__disconnect_post
      parameters:
      - description: UUID of the payroll account.
        required: true
        schema:
          type: string
          format: uuid
          description: UUID of the payroll account.
        name: account_id
        in: path
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '204':
          description: No Content
  /accounts/{account_id}/paystubs:
    get:
      tags:
      - Income and Employment
      summary: List Paystubs
      description: The paystubs endpoint allows you to query for payouts to an end
        user. Each paystub contains broken out and aggregated earnings information,
        as well as relevant dates. Paystubs are returned in reverse chronological
        order by `pay_date`. This is a paginated endpoint; see how Pinwheel implements
        pagination <a href='https://docs.pinwheelapi.com/docs/pagination-1' target='_blank'>here</a>.
      operationId: list_paystubs_v1_accounts__account_id__paystubs_get
      parameters:
      - description: UUID of the payroll account.
        required: true
        schema:
          type: string
          format: uuid
          description: UUID of the payroll account.
        name: account_id
        in: path
      - description: Filter for paystubs with pay dates after this date.
        required: false
        schema:
          type: string
          format: date
          description: Filter for paystubs with pay dates after this date.
        name: from_pay_date
        in: query
      - description: Filter for paystubs with pay dates before this date.
        required: false
        schema:
          type: string
          format: date
          description: Filter for paystubs with pay dates before this date.
        name: to_pay_date
        in: query
      - description: Cursor for the page you want to retrieve.
        required: false
        schema:
          type: string
          description: Cursor for the page you want to retrieve.
        name: cursor
        in: query
      - description: The maximum number of results to return.
        required: false
        schema:
          type: integer
          maximum: 100.0
          minimum: 1.0
          description: The maximum number of results to return.
        name: limit
        in: query
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta:
                    $ref: '#/components/schemas/RefreshablePaginationListMeta'
                  data:
                    items:
                      $ref: '#/components/schemas/PaystubObjResponse_v2022_03_02'
                    type: array
                    title: Data
                type: object
                required:
                - meta
                - data
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                    - id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                      account_id: 5c1952df-3a84-4f28-8318-58291452061f
                      pay_date: '2020-12-31'
                      pay_period_start: '2020-12-10'
                      pay_period_end: '2020-12-24'
                      currency: USD
                      gross_pay_amount: 480720
                      net_pay_amount: 321609
                      check_amount: 328609
                      gross_pay_ytd: 6971151
                      net_pay_ytd: 4357992
                      total_taxes: 94407
                      total_deductions: 64704
                      total_reimbursements: 7000
                      employer_name: Acme Corporation
                      external_paystub_id: 821b7d1b-c115-470c-9411-be132f51c19d
                      taxes:
                      - name: Federal Income
                        category: federal_income
                        amount: 65158
                      - name: State Income
                        category: state_income
                        amount: 29249
                      deductions:
                      - name: 401k
                        category: retirement
                        amount: 7012
                        type: pre_tax
                      - name: MTA
                        category: commuter
                        amount: 57692
                        type: post_tax
                      earnings:
                      - name: Regular
                        category: salary
                        amount: 380720
                        rate: 4759
                        hours: 80.0
                      - name: Bonus
                        category: bonus
                        amount: 100000
                        rate: null
                        hours: null
                      time_off:
                      - name: Vacation
                        category: pto
                        available_hours: 41.5
                        earned_hours: 0.0
                        used_hours: 38.5
                      - name: Sick Leave
                        category: sick
                        available_hours: 41.5
                        earned_hours: 0.0
                        used_hours: 38.5
                      created_at: '2021-01-10T19:54:45.745660+00:00'
                      document:
                        id: aea8cc55-93fa-452d-8eac-b83c80b19a41
                        download_url: https://s3.us-east-1.amazonaws.com/paystub_document
                        download_url_expiration: '2022-04-04T18:13:55.123450+00:00'
                    meta:
                      count: 1
                      next_cursor: eyJlbXBsb3llciI6ICJVbml0ZWQgUGFyY2VsIFNlcnZpY2UifQ==
                      refreshed_at: '2021-01-10T19:54:45.745660+00:00'
  /accounts/{account_id}/paystubs/{paystub_id}:
    get:
      tags:
      - Income and Employment
      summary: Get Paystub
      description: Get a single paystub.
      operationId: get_paystub_v1_accounts__account_id__paystubs__paystub_id__get
      parameters:
      - description: The id of the paystub.
        required: true
        schema:
          type: string
          format: uuid
          description: The id of the paystub.
        name: paystub_id
        in: path
      - description: UUID of the payroll account.
        required: true
        schema:
          type: string
          format: uuid
          description: UUID of the payroll account.
        name: account_id
        in: path
      - name: Pinwheel-Version
        in: header
        required: true
        description: Version identifier specifying how the Pinwheel API should behave.
          See the Change Management page for more information.
        schema:
          enum:
          - '2025-07-08'
          - '2023-11-22'
          - '2023-07-18'
          - '2023-04-18'
          - '2022-09-09'
          - '2022-06-22'
          - '2022-03-02'
          default: '2025-07-08'
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/PaystubObjResponse_v2022_03_02'
                type: object
                required:
                - data
                x-tags:
                - Schemas
              examples:
                example:
                  value:
                    data:
                      id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                      account_id: 5c1952df-3a84-4f28-8318-58291452061f
                      pay_date: '2020-12-31'
                      pay_period_start: '2020-12-10'
                      pay_period_end: '2020-12-24'
                      currency: USD
                      gross_pay_amount: 480720
                      net_pay_amount: 321609
                      check_amount: 328609
                      gross_pay_ytd: 6971151
                      net_pay_ytd: 4357992
                      total_taxes: 94407
                      total_deductions: 64704
                      total_reimbursements: 7000
                      employer_name: Acme Corporation
                      external_paystub_id: 821b7d1b-c115-470c-9411-be132f51c19d
                      taxes:
                      - name: Federal Income
                        category: federal_income
                        amount: 65158
                      - name: State Income
                        category: state_income
                        amount: 29249
                      deductions:
                      - name: 401k
                        category: retirement
                        amount: 7012
                        type: pre_tax
                      - name: MTA
                        category: commuter
                        amount: 57692
                        type: post_tax
                      earnings:
                      - name: Regular
                        category: salary
                        amount: 380720
                        rate: 4759
                        hours: 80.0
                      - name: Bonus
                        category: bonus
                        amount: 100000
                        rate: null
                        hours: null
                      time_off:
                      - name: Vacation
                        category: pto
                        available_hours: 41.5
                        earned_hours: 0.0
                        used_hours: 38.5
                      - name: Sick Leave
                        category: sick
                        available_hours: 41.5
                        earned_hours: 0.0
                        used_hours: 38.5
                      created_at: '2021-01-10T19:54:45.745660+00:00'
                      document:
                        id: aea8cc55-93fa-452d-8eac-b83c80b19a41
                        download_url: https://s3.us-east-1.amazonaws.com/paystub_document
                        download_url_expiration: '2022-04-04T18:13:55.123450+00:00'
  /accounts/{account_id}/shifts:
    get:
      tags:
      - Income and Employment
      summary: List Shifts
      description: The shifts endpoint allows you to query for ongoing and completed
        work performed by an end user. It includes details about shift dates, timestamps,
        the type of work, and associated earnings. Shifts are returned in reverse
        chronological order by `end_date`. This is a paginated endpoint; see how Pinwheel
        implements pagination <a href='https://docs.pinwheelapi.com/docs/pagination-1'
        target='_blank'>here</a>.
      operationId: list_shifts_v1_accounts__account_id__shifts_get
      parameters:
      - description: UUID of the payroll account.
        required: true
        schema:
          type: string
          format: uuid
          description: UUID of the payroll account.
        name: account_id
        in: path
      - description: Return shifts where the `start_date` field is on or after this
          date. ISO 8601 format.
        required: false
        schema:
          type: string
          format: date
          description: Return shifts where the `start_date` field is on or after this
            date. ISO 8601 format.
        name: from_start_date
        in: query
      - description: Return shifts where the `start_date` field is on or before this
          date. ISO 8601 format.
        required: false
        schema:
          type: string
          format: date
          description: Return shifts where the `start_date` field is on or before
            this date. ISO 8601 format.
        name: to_start_date
        in: query
      - description: Return shifts where the `end_date` field is on or after this
          date. ISO 8601 format.
        required: false
        schema:
          type: string
          format: date
          description: Return shifts where the `end_date` field is on or after this
            date. ISO 8601 format.
        name: from_end_date
        in: query
      - description: Return shifts where the `end_date` field is on or before this
          date. ISO 8601 format.
[...]
